/*body {
    font-family: sans-serif;
    margin: auto;
    max-width: 1280px;
    background-image: url("img/background.jpg");
    background-position: center;
    background-color: linen;
}
*/
body {
  font-family: 'Open Sans',Helvetica,Arial,sans-serif;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute; 
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
}
#fullscreen {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}
